<div class="search">
    <div class="cuadroBusqueda">
        <input #char type="text" (keyup)="buscar(char.value)" class="form-control" placeholder="Buscar personaje">
    </div>

    <div class="grid">
        <mat-card class="example-card mt-4" *ngFor="let character of personajes ">
            <mat-card-header>
                <h2>{{character.name}}</h2>
            </mat-card-header>
            <img mat-card-image [src]="character.image " [routerLink]="[ '/detalle-personaje', character.id ] ">
            <mat-card-content>
                <p>Estado: {{character.status}}; especie: {{character.species}} </p>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="alert alert-danger" *ngIf="error_http">
        <h1> {{no_coincidencias}} </h1>
    </div>

    <div class="volver">
        <button type="button" class="btn btn-info" (click)="regresar()">Volver</button>
    </div>
</div>