.example-header-image {
    background-size: cover;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 8fr));
    grid-gap: 2rem;
    text-align: center;
    margin: 0 3rem;
}

.grid img {
    width: 70%;
}

.example-card {
    margin: 0 10px;
    border: 1px solid black;
    border: 1px solid;
    padding: 1px;
    box-shadow: 2px 1px #888888;
}