<div class="cuerpo">
    <app-pintar [personajes]="personajes"></app-pintar>
</div>

<div class="paginacion">
    <ul class="pagination justify-content-center">
        <li class="page-item" [ngClass]="{'disabled': (currentPage === 1)}"><a class="page-link" (click)="cambiarPagina(false)"> Anterior</a></li>
        <li class="page-item"><a class="page-link">{{currentPage}}</a></li>
        <li class="page-item" [ngClass]="{'disabled': (currentPage === numPages)}"><a class="page-link" (click)="cambiarPagina(true)">Siguiente</a></li>
    </ul>
</div>