<!-- <div (click)="resultadoBusqueda( personaje )" *ngFor="let personaje of resultado">
    <div class="grid">
        <mat-card class="example-card mt-4">
            <mat-card-header>
                <h2>{{personaje.name}}</h2>
            </mat-card-header>
            <img mat-card-image [src]="personaje.image ">
            <mat-card-content>
                <p>Estado: {{personaje.status}}; especie: {{personaje.species}} </p>
            </mat-card-content>
        </mat-card>
    </div>
</div> -->