.social {
    padding: 1em;
}

.footer {
    padding: 1rem;
    margin: 1rem 0 0.6rem 0;
    text-align: center;
}

.footer a:nth-child(n) {
    color: grey;
    margin: 0 5px;
    text-decoration: none;
}

.footer p {
    font-size: 12px;
}