.detail-char {
    margin: 0.5rem;
}

.grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(8rem, 3fr)); */
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 2;
    grid-gap: 4px;
    text-align: left;
}

.episode {
    border: 4px solid black;
    border: 1px solid;
    width: 20%;
    padding: 10px;
}