<div class="personaje">

    <div class="detail-char grid" *ngFor="let char of characters">

        <div class="titulo">
            <h2>{{char.name }}</h2>
        </div>
        <div class="imagen">
            <img [src]="char.image" [alt]="char.name">
        </div>
        <div class="detalle">
            <p><strong>Status: </strong> {{char.status}}</p>
            <p><strong>Género: </strong> {{char.gender}}</p>
            <p><strong>Origen: </strong>Origin{{char.origin.name}}</p>
            <p><strong>Especie: </strong>{{char.species}}</p>
        </div>
    </div>

    <h3 class="mt-4">Otros personajes</h3>
    <div class="episode">
        <app-pintar [episode]="episode"></app-pintar>
        <!--
            meter aqui un par de personajes que salen relacionados con el principal
            <div *ngFor="let chap of episode">
            <p>{{chap}}</p>
        </div> -->

    </div>

    <button class="btn btn-outline-info" (click)="regresar()">Volver</button>


    <div class="detail-char grid" *ngFor="let char of epidose">

        <p>{{char}}</p>
    </div>
</div>