.personaje {
    width: 50%;
    margin: 3em;
}

.detail-char {
    margin: 0.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 3fr));
    /* grid-template-columns: repeat(8, 1fr); */
    grid-template-rows: 2;
    grid-gap: 4px;
}

.episode {
    border: 1px solid black;
    width: 30%;
    text-align: center;
    padding: 2px 2px
}